# ------------------------------------------------------------------------------
# AWS Configuration
# ------------------------------------------------------------------------------

# The public SSH key to be installed on EC2 instances for access.
# Example: public_key = "ssh-rsa AAAA..."
public_key = ""

# ------------------------------------------------------------------------------
# Vault Configuration
# ------------------------------------------------------------------------------

# ------------------------------------------------------------------------------
# Software Versions (Optional)
# ------------------------------------------------------------------------------

# The version of Vault to install.
# vault_version = "1.15.2"