ui = true
disable_mlock = true
storage "raft" {
  path    = "/opt/vault/data"
  node_id = "vault-node-1"
}
listener "tcp" {
  address     = "0.0.0.0:8200"
  tls_disable = 1 # Disabling TLS for demo purposes
}
api_addr = "http://{{ ansible_host }}:8200"
cluster_addr = "http://{{ ansible_default_ipv4.address }}:8201"